.top-nav {
    width:105%;
    background-color:rgb(228, 228, 228);
    height:80px;
    margin-top:-10px;
    margin-left:-10px;
    margin-bottom:30px;

}

.omega-logo{
    padding-left:12px;
    padding-top:7px;
}

.omega-logo img {
    width:140px;
}

.github-logo {
    float:right;
    margin-top:-73px;
    margin-right:60px;

}

.github-logo img {
    width:50px;
}


.save-button {
    background-color:rgb(56, 56, 255);
    padding:10px;
    width:50px;
    text-align: center;
    color:white;
    font-weight: 600px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius:3px;
    float:right;
    margin-right:150px;
    margin-top:-70px;
    clear: both;
}

.save-button:hover {
    cursor: pointer;
    background-color:rgb(96, 96, 255);
}